body {
    width: 700px; 
    margin-top:110px; 
    margin-left: auto;
    margin-right: auto;}

h1 {
    font-size: 50px;
    color: rgb(65, 65, 65);
}

li:hover {
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    border: solid 2px rgb(241, 241, 241);
}


/* .center {
    display: flex;
    justify-content: center;
} */

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(192, 192, 192);
    margin: 0 auto;
    width: 69%;
} 


ul {
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 11px 14px;
}

.toss {
    width: 200px;
    height: 20px;
}

.human_photo {
    width: 300px;
    height: 210px;
}

.box {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(180, 180, 180);
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 45px;
}

.update_b, .delete_b {
    display: inline-block;
    margin-top: 4px;
}

button {
    border-radius: 5px;
    border: solid 1px rgb(48, 114, 255);
    background-color: rgb(48, 114, 255);
    color: white;
    transition-property: background-color, border;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
}

button:hover {
    background-color: rgb(48, 48, 255);
    border: solid 2px rgb(48, 48, 255);
}

.update_b {
    margin-left: 8px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.text {
    width: 270;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}