{% block content1 %}
{% endblock %}
        <header>
            <div class="container">
                <a href="{% url 'home' %}">
                    <img class="toss" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAlspqN6AFuv0zoR3MWsIzPHzZz5WD8XfxguhI-NG_zfWweNu7Uy00P3YlbyUDLW7k7A&usqp=CAU" alt="로고">
                </a>
            <nav>
                <ul>
                    <a href="{% url 'read' %}"><li>지원서 보기</li></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create' %}"><li>지원하기</li></a>
                    <a href="{% url 'logout' %}"><li>로그아웃</li></a>
                    {% endif %}
                    <a href="#"><li>채용공고</li></a>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}"><li>로그인</li></a>
                    <a href="{% url 'signup' %}"><li>회원가입</li></a>
                    {% endif %}
                </ul>
            </nav>
            </div>
        </header>
            {% block content %}
            {% endblock %}